/*Media*/
/*Colors*/
/*General*/
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  min-width: 320px;
  font-size: 1.4rem;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: subpixel-antialiased;
  padding: 0;
  margin: 0;
}
.content {
  flex: 1 0 auto;
}
input,
textarea,
button,
select {
  font-family: "Mulish", sans-serif;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
button {
  margin: 0;
}
button:not(:disabled) {
  cursor: pointer;
}
button:disabled {
  opacity: 0.5;
}
/*
	This will hide the focus indicator if the element receives focus via the mouse,
	but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
.container {
  max-width: 140rem;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.container--narrow {
  max-width: 87rem;
}
.ht {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.ht--h1 {
  font-size: 3rem;
}
@media print, (min-width: 1024px) {
  .ht--h1 {
    font-size: 5rem;
  }
}
.ht--h2 {
  font-size: 2.2rem;
}
@media print, (min-width: 1024px) {
  .ht--h2 {
    font-size: 2.5rem;
  }
}
.ht--h3 {
  font-size: 1.8rem;
}
@media print, (min-width: 1024px) {
  .ht--h3 {
    font-size: 2.2rem;
  }
}
.ht--blue {
  color: #16424F;
}
.btn {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: none;
  outline: none;
}
.btn__label {
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn__icon {
  display: block;
  width: 1.4rem;
  height: 1.4rem;
}
.btn__icon--large {
  width: 4.4rem;
  height: 4.4rem;
}
.btn .moving {
  transform: translateX(0);
  transition: 0.2s transform ease;
}
.btn:hover:not(:disabled) .btn__label:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: currentColor;
}
.btn:hover:not(:disabled) .moving {
  transform: translateX(1rem);
}
.btn:disabled {
  opacity: 0.5;
  cursor: default;
}
.btn--blue {
  column-gap: 2rem;
  padding: 1.5rem 3rem;
  color: #ffffff;
  background-color: #16424F;
}
.link {
  position: relative;
  font-size: inherit;
  color: #000;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
}
.link:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
}
.link:hover:after,
.link:focus:after {
  background-color: currentColor;
}
.soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
}
.soc-list__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.2s ease;
}
.soc-list__link:hover {
  color: #ffffff;
}
.soc-list__icon {
  width: 3.5rem;
  height: 3.5rem;
}
.input-line__input {
  font-size: 1.6rem;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0;
  padding: 2rem;
  box-sizing: border-box;
  -webkit-appearance: none;
}
.input-line__input::placeholder {
  color: #000000;
  opacity: 0.5;
}
.input-line__input:focus {
  outline: none;
  border-color: #000;
}
.input-line__input:disabled {
  user-select: none;
  background-color: #D7D7D7;
  border-color: #D7D7D7;
}
textarea.input-line__input {
  resize: none;
}
.input-line__input--error,
.input-line__input.has-error {
  border-color: #F21919;
}
.input-line__error-text {
  font-size: 1.2rem;
  color: #F21919;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.input-line__error-text.hidden {
  display: none;
}
/* h */
.h {
  position: sticky;
  z-index: 1;
  top: 0;
  border-bottom: 1px solid #fff;
  background-color: rgba(238, 242, 241, 0);
  transition: 0.2s background-color ease;
}
.h .btn {
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  transition: 0.2s color ease;
}
.h--scrolled {
  background-color: rgba(238, 242, 241, 0.9);
}
.h--scrolled .btn,
.h--scrolled .h__logo-wrp {
  color: #16424F;
}
.h--scrolled .burger__line {
  background-color: #16424F;
}
.h__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}
.h__content {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
}
@media print, (min-width: 1024px) {
  .h__content {
    column-gap: 3rem;
  }
}
.h__logo-wrp {
  color: #fff;
  text-decoration: none;
  transition: 0.2s color ease;
}
.h__logo {
  width: 10.1rem;
  height: 4rem;
}
@media (max-width: 1023px) {
  .h__filters-btn {
    display: none;
  }
}
/* burger */
.burger {
  display: block;
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 1rem 0;
}
.burger:hover {
  opacity: 0.8;
}
.burger__inner {
  position: relative;
  display: block;
  height: 0;
  width: 2rem;
}
.burger__line {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  height: 0.2rem;
  background-color: #fff;
  transform: translateX(-50%);
  transition: all 0.2s ease;
}
.burger__line:first-child {
  width: 2rem;
  top: -0.7rem;
}
.burger__line:nth-child(2) {
  width: 1.2rem;
  left: 60%;
}
.burger__line:last-child {
  width: 1.6rem;
  top: 0.7rem;
}
.h--opened .burger__line:first-child {
  width: 2rem;
  top: 0;
  transform: translateX(-50%) rotate(45deg);
}
.h--opened .burger__line:nth-child(2) {
  width: 0;
}
.h--opened .burger__line:last-child {
  width: 2rem;
  top: 0;
  transform: translateX(-50%) rotate(-45deg);
}
.f {
  background-color: #16424F;
}
.f__container {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media (max-width: 1023px) {
  .f__container {
    text-align: center;
  }
}
@media print, (min-width: 1024px) {
  .f__container {
    display: grid;
    row-gap: 6rem;
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}
.f__menu {
  display: grid;
  row-gap: 4rem;
  font-size: 1.6rem;
}
@media (max-width: 1023px) {
  .f__menu {
    margin-bottom: 9rem;
  }
}
@media print, (min-width: 1024px) {
  .f__menu {
    grid-column: 2 / 4;
    grid-row: 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 2rem;
  }
}
@media print, (min-width: 1280px) {
  .f__menu {
    grid-template-columns: auto auto 1fr;
    column-gap: 9rem;
  }
}
.f__contacts-wrp {
  display: grid;
  row-gap: 6rem;
}
@media (max-width: 1023px) {
  .f__contacts-wrp {
    margin-bottom: 6rem;
  }
}
@media print, (min-width: 1024px) {
  .f__contacts-wrp {
    grid-column: 1;
    grid-row: 1;
    row-gap: 4rem;
    grid-template-rows: auto 1fr;
    padding-right: 3rem;
  }
}
@media print, (min-width: 1280px) {
  .f__contacts-wrp {
    padding-right: 12rem;
  }
}
.f__logo {
  width: 12.6rem;
  height: 5rem;
  color: #fff;
}
.f__contacts {
  display: grid;
  row-gap: 2rem;
}
@media print, (min-width: 1024px) {
  .f__contacts {
    grid-template-rows: auto 1fr;
  }
}
@media (max-width: 1023px) {
  .f__form-wrp {
    margin-bottom: 9rem;
  }
}
@media print, (min-width: 1024px) {
  .f__form-wrp {
    grid-column: 4;
    grid-row: 1;
  }
}
.f__form-header {
  display: block;
  color: #fff;
  font-size: 1.6rem;
}
@media (max-width: 1023px) {
  .f__soc-list {
    margin-bottom: 9rem;
  }
}
@media print, (min-width: 1024px) {
  .f__soc-list {
    grid-column: 3 / 5;
    grid-row: 2;
    justify-content: flex-end;
    padding-top: 3rem;
    border-top: 1px solid #fff;
  }
}
.f__copyright {
  margin: 0;
  font-size: 1.4rem;
  color: #fff;
}
@media print, (min-width: 1024px) {
  .f__copyright {
    grid-column: 1 / 3;
    grid-row: 2;
    padding-top: 3rem;
    border-top: 1px solid #fff;
  }
}
.f__link {
  font-size: 1.6rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.2s ease;
}
.f__link:hover {
  color: #ffffff;
}
.mb {
  margin-bottom: 9rem;
  background: url(/img/main_bg.jpg) center center / cover no-repeat;
}
.mb__container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media print, (min-width: 1024px) {
  .mb__container {
    padding-top: 6rem;
    padding-bottom: 6rem;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.mb__title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.3em;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
}
@media print, (min-width: 1024px) {
  .mb__title {
    max-width: 95rem;
    font-size: 6rem;
    text-align: right;
  }
}
.mb__video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.object {
  padding-bottom: 6rem;
}
@media print, (min-width: 1024px) {
  .object {
    padding-bottom: 12rem;
  }
}
@media print, (min-width: 1024px) {
  .container__container {
    display: grid;
    grid-template-columns: 0.6fr 1.2fr 1fr;
    grid-column-gap: 6rem;
  }
}
.object__title {
  margin-bottom: 2rem;
  color: #16424F;
  text-transform: uppercase;
}
.objects__descr {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5em;
}
@media print, (min-width: 1024px) {
  .objects__descr {
    font-size: 1.6rem;
  }
}
.objects__img {
  display: block;
  width: 100%;
}
@media (max-width: 1023px) {
  .objects__img {
    display: none;
  }
}
.preview {
  padding-bottom: 6rem;
}
@media (max-width: 1023px) {
  .preview {
    padding-left: 0;
    padding-right: 0;
  }
}
@media print, (min-width: 1024px) {
  .preview {
    display: grid;
    grid-template-columns: 67.5rem auto;
    padding-bottom: 12rem;
  }
}
@media print, (min-width: 1024px) {
  .preview--kurskaya {
    grid-template-columns: auto 67.5rem;
  }
}
.preview--kurskaya .preview__descr-wrp {
  grid-column: 2;
}
.preview--kurskaya .preview__img-wrp {
  grid-row: 1;
  grid-column: 1;
}
.preview--kurskaya .preview__descr-wrp,
.preview--kurskaya .preview__title {
  background-color: #37394C;
}
@media print, (min-width: 1024px) {
  .preview--kurskaya .preview__title {
    left: 3rem;
    right: auto;
  }
}
@media print, (min-width: 1024px) {
  .preview--kurskaya .preview__label {
    left: auto;
    right: 3rem;
  }
}
.preview__descr-wrp {
  position: relative;
  padding: 9rem 2rem 6rem;
  text-align: center;
  background-color: #374C42;
}
.preview__label {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  background-color: #fff;
}
@media print, (min-width: 1024px) {
  .preview__label {
    top: 4.5rem;
  }
}
.preview__logo {
  display: inline-block;
  margin-bottom: 3rem;
}
.preview__descr {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5em;
  color: #fff;
}
@media print, (min-width: 1024px) {
  .preview__descr {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
  }
}
.preview__address {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.preview__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 3rem;
  margin: 0 0 3rem;
  padding: 0;
  list-style: none;
}
.preview__list span {
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  color: #E4D7C4;
  text-transform: uppercase;
}
.preview__list-value {
  margin-top: 0;
  margin-bottom: 0.4rem;
  font-size: 2rem;
  font-style: italic;
  color: #8C694B;
  text-transform: uppercase;
  line-height: 1em;
}
.preview__more-btn {
  color: #fff;
  text-transform: uppercase;
}
.preview__img-wrp {
  position: relative;
  display: block;
}
.preview__title {
  position: absolute;
  top: 3rem;
  right: 3rem;
  margin: 0;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #fff;
  background-color: #374C42;
  border-radius: 0.2rem;
}
.preview__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about__container {
  padding-top: 3rem;
  padding-bottom: 9rem;
}
@media print, (min-width: 1024px) {
  .about__container {
    padding-top: 6rem;
    padding-bottom: 18rem;
  }
}
.about__logo {
  display: block;
  width: 15rem;
  height: 6rem;
  margin-bottom: 2rem;
  color: #374C42;
}
@media print, (min-width: 1024px) {
  .about__logo {
    width: 20rem;
    height: 8rem;
  }
}
.about__text {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5em;
}
@media print, (min-width: 1024px) {
  .about__text {
    max-width: 64.5rem;
    font-size: 1.6rem;
  }
}
.mquote {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 9rem;
  background-color: #EEF2F1;
}
@media print, (min-width: 1024px) {
  .mquote {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}
@media print, (min-width: 1024px) {
  .mquote__container {
    display: grid;
    grid-template-columns: 9.5rem auto 20rem;
    column-gap: 5rem;
  }
}
.mquote__text-wrp {
  margin-bottom: 3rem;
}
.mquote__icon {
  width: 8.5rem;
  height: 8rem;
  margin-bottom: 3rem;
}
.mquote__text {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5em;
}
.mquote__name {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.mquote__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 1023px) {
  .mquote__photo-wrp {
    display: flex;
    justify-content: center;
  }
}
.mb__stub {
  margin-top: 16.4rem;
  max-width: 645px;
}
.mb__stub .title,
.mb__stub .descr,
.mb__stub .link {
  color: white;
}
.mb__stub .title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.3em;
  text-align: left;
  text-transform: uppercase;
}
@media print, (min-width: 1024px) {
  .mb__stub .title {
    font-size: 5rem;
  }
}
.mb__stub .descr {
  margin-bottom: 4rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5em;
  text-align: left;
}
@media print, (min-width: 1024px) {
  .mb__stub .descr {
    font-size: 1.6rem;
  }
}
.mb__stub .link {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3em;
  text-align: left;
}
@media print, (min-width: 1024px) {
  .mb__stub .link {
    font-size: 1.6rem;
  }
}
.mb__stub .link img {
  width: 1.6rem;
  height: 1.6rem;
}
