section.about
    .about__container.container.container--narrow
        svg.about__logo(alt="logo")
            use(xlink:href='/img/logo.svg#logo')
        p.about__text LAR DEVELOPMENT – бутиковый девелопер, компания, создание которой стало логичным следствием развития строительной династии. Команда LAR глубоко разбирается в особенностях истории и ландшафте мест для своих объектов, органически развивает преимущества, формирует уникальные образы.