footer.f
	.f__container.container
		ul.f__menu
			li.f__menu-item
				a.f__link(href="#") Акции
			li.f__menu-item
				a.f__link(href="#") Объекты
			li.f__menu-item
				a.f__link(href="#") Как купить
			li.f__menu-item
				a.f__link(href="#") Новости
			li.f__menu-item
				a.f__link(href="#") Проектные декларации
		.f__contacts-wrp
			a.f__logo-wrp(href="/") 
				svg.f__logo(alt="logo")
					use(xlink:href="/img/logo.svg#logo")
			ul.f__contacts
				li
					a.f__link(href="tel:+7 812 850 50 10") +7 812 850 50 10
				li
					a.f__link(href="mailto:office@lardevelopment.ru") office@lardevelopment.ru    
		.f__form-wrp
			form.f__form
				label.f__form-header Остались вопросы? Напишите нам
		.f__soc-list.soc-list
			a.soc-list__link(href="#")
				svg.soc-list__icon
					use(xlink:href="/img/icons.svg#vk")
			a.soc-list__link(href="#")
				svg.soc-list__icon
					use(xlink:href="/img/icons.svg#tg")
		p.f__copyright © 2024 LAR DEVELOPMENT  |  Все права защищены