section.mquote 
    .mquote__container.container.container--narrow 
        svg.mquote__icon 
            use(xlink:href="/img/icons.svg#quote")
        .mquote__text-wrp
            p.mquote__text Будучи из династии архитекторов и строителей, хочется не просто сдавать квадратные метры, а создавать объекты, которыми по праву можно гордиться! Объекты, которыене портят окружающую природу и стиль архитектуры,а наоборот улучшают их, усилияя характер и настроение каждого места.
            p.mquote__name Канунников Дмитрий
            h2.mquote__title Генеральный директор компании LAR
        .mqoute__photo-wrp
            img.mquote__photo(src="/img/dmitriy.png" alt="Канунников Дмитрий")