section.object
    .container__container.container
        h2.object__title.ht.ht--h1 Объекты
        p.objects__descr В команде LAR DEVELOPMENT работают люди, для которых строительство – дело жизни. Благодаря своим объектам мы меняем среду и инфраструктуру, вкладывая душу в работу. Мы совершенствуем локации, в которых строим, развивая пространство вокруг. Каждый наш объект – это уникальный продукт, рожденный из сочетания творческого процесса, опыта и любви к своему делу.
        img.objects__img(src="/img/icons.svg#pattern_1" alt="pattern")