section.preview.container
    .preview__descr-wrp
        p.preview__label Старт продаж
        img.preview__logo(src="/img/ranta_logo.svg" alt="Ranta")
        .preview__descr
            p Природа и мегаполис, умиротворение и активная жизнь, обособленность и включенность в культурную и деловую активность, ощущение собственного дома на природе и полный набор сервисов высококлассного жилого комплекса!
            p.preview__address Лениградская область, Зеленогорск
        ul.preview__list
            li
                p.preview__list-value 3,12 м.
                span потолки
            li
                p.preview__list-value паркинг
                span В подарок
            li
                p.preview__list-value 15 252 кв.м.
                span территория
        a.preview__more-btn.btn(href="#" aria-label="")
            span.btn__label Подробнее
            svg.btn__icon
                use(xlink:href="/img/icons.svg#simpleRight")
    a.preview__img-wrp(href="#")
        img.preview__img(src="/img/ranta.jpg" alt="Ranta")
        p.preview__title Ranta residence
section.preview.container.preview--kurskaya
    .preview__descr-wrp
        p.preview__label Старт продаж
        img.preview__logo(src="/img/kursk_logo.svg" alt="Курская")
        .preview__descr
            p Слияние с природой и изысканная прелесть курортного образа жизни, уединенность в окружении удивительной природы и беспрерывная возможность наслаждаться разнообразными активностями – все это вместе с сервисом высокого уровня позволяет выстроить и воплотить собственный стиль жизни.
            p.preview__address Лениградская область, РЕПИНО
        a.preview__more-btn.btn(href="#" aria-label="")
            span.btn__label Подробнее
            svg.btn__icon
                use(xlink:href="/img/icons.svg#simpleRight")
    a.preview__img-wrp(href="#")
        img.preview__img(src="/img/kursk.jpg" alt="Курская")
        p.preview__title  Улица курская   